body {
    background-color: white;
    color: black;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* for dark mode, bg=black/grey, text=white */
body.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

/* replicate midi-ish button style */
.square-btn {
    display: flex;
    width: 130px !important;
    height: 80px !important;
    line-height: 2.5 !important;
    font-size: 25px !important;
}

.title-text {
    color: #a980bd;
    font-size: 50px;
    text-shadow: 2px 2px black;
}
